<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="alternate"
      type="application/rss+xml"
      href="https://arvydasg.github.io/rss.xml"
      title="RSS feed for https://arvydasg.github.io/">
<title>Flask CodeAcademy</title>
<meta name="author" content="Arvydas Gasparavicius">
<meta name="referrer" content="no-referrer">
<meta name="viewport" content="initial-scale=1,width=device-width,minimum-scale=1">
<link href= "static/style.css" rel="stylesheet" type="text/css" />
<script src="static/lightbox.js"></script>
<script src="static/auto-render.min.js"></script>
<link rel="icon" href="static/ag.ico"></head>
<body>
<div id="preamble" class="status"><div class="header">
  <a href="https://arvydasg.github.io/">Arvydas Scratchpad on the Internet</a>
  <div class="sitelinks">
    <a href="https://github.com/arvydasg">Github</a> | <a href="https://arvydasg.github.io/projects.html">Projects</a> | <a href="https://arvydasg.github.io/uses.html">Uses</a> | <a href="https://arvydasg.github.io/about.html">About</a>
  </div>
</div></div>
<div id="content">
<div class="post-date">24 Jan 2023</div><h1 class="post-title"><a href="https://arvydasg.github.io/2023-01-24-flask-codeacademy.html">Flask CodeAcademy</a></h1>
<nav id="table-of-contents" role="doc-toc">
<h2>Table of Contents</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#orge54eeab">1. 2023.01.24</a>
<ul>
<li><a href="#org4f2822e">1.1. Kaip sukurti minimalią svetainę:</a></li>
<li><a href="#orgeeaeadc">1.2. Kaip puslapyje atvaizduoti įvestą kintamąjį:</a></li>
<li><a href="#org5d71bf3">1.3. Kaip sukurti ir panaudoti HTML šabloną:</a></li>
<li><a href="#orgef6d303">1.4. Kaip kintamuosius perkelti į šabloną:</a></li>
<li><a href="#org442d920">1.5. Kaip perduoti duomenis iš svetainės į programą:</a></li>
<li><a href="#org22822e8">1.6. Naudojame base.html šabloną:</a></li>
<li><a href="#org7124c5e">1.7. Stiliui panaudojame "Bootstrap":</a></li>
<li><a href="#orgf84ad98">1.8. Uzduotys</a>
<ul>
<li><a href="#orgbdc11a9">1.8.1. 1 užduotis</a></li>
<li><a href="#org80adaef">1.8.2. 2 užduotis</a></li>
<li><a href="#orgf96a216">1.8.3. 3 užduotis</a></li>
<li><a href="#orga45d98c">1.8.4. 4 užduotis</a></li>
<li><a href="#org08b55d8">1.8.5. 5 užduotis (papildomai)</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</nav>

<div id="outline-container-orge54eeab" class="outline-2">
<h2 id="orge54eeab"><span class="section-number-2">1.</span> 2023.01.24</h2>
<div class="outline-text-2" id="text-1">
<p>
"Flask yra populiariausias Python microframework. Jeigu projektas nėra
labai didelis, arba tiesiog norime pasidaryti kažkokį GUI per
naršyklę, kažką greitai prototipuoti, Flask yra labai geras
pasirinkimas. Su flask yra pakankamai paprasta kurti API's. Ši
paskaita bus greita įžanga, kitose nagrinėsime išsamiau."
</p>

<p>
<code>pip install flask</code>
</p>

<p>
<code>create main.py</code>
</p>

<p>
<code>export FLASK_APP=main.py</code>
</p>

<p>
<code>python -m flask run</code>
</p>

<p>
<code>template_folder</code> = "render" - import this to use template from other
templates folder, prie <span class="underline"><span class="underline">name</span></span>
</p>

<p>
if you want to change templates folder name - don't forget to add
"default<sub>templates</sub>" to app = in main.
</p>

<p>
<a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja templates</a>
</p>
</div>

<div id="outline-container-org4f2822e" class="outline-3">
<h3 id="org4f2822e"><span class="section-number-3">1.1.</span> Kaip sukurti minimalią svetainę:</h3>
<div class="outline-text-3" id="text-1-1">
<div class="org-src-container">
<pre class="src src-python"><span style="color: #fb4934;">from</span> flask <span style="color: #fb4934;">import</span> Flask

<span style="color: #83a598;">app</span> = Flask<span style="color: #fe8019;">(</span><span style="color: #fe8019;">__name__</span><span style="color: #fe8019;">)</span>

<span style="color: #fabd2f;">@app.route</span><span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"/"</span><span style="color: #fe8019;">)</span>
<span style="color: #fb4934;">def</span> <span style="color: #b8bb26;">home</span><span style="color: #fe8019;">()</span>:
    <span style="color: #fb4934;">return</span> <span style="color: #b8bb26;">"&lt;h1&gt;&#268;ia mano naujas puslapis&lt;/h1&gt;"</span>

<span style="color: #fb4934;">if</span> <span style="color: #fe8019;">__name__</span> == <span style="color: #b8bb26;">"__main__"</span>:
    app.run<span style="color: #fe8019;">(</span>debug=<span style="color: #d3869b;">True</span><span style="color: #fe8019;">)</span>:
</pre>
</div>
</div>
</div>

<div id="outline-container-orgeeaeadc" class="outline-3">
<h3 id="orgeeaeadc"><span class="section-number-3">1.2.</span> Kaip puslapyje atvaizduoti įvestą kintamąjį:</h3>
<div class="outline-text-3" id="text-1-2">
<p>
main.py faile:
</p>

<div class="org-src-container">
<pre class="src src-python"><span style="color: #fb4934;">from</span> flask <span style="color: #fb4934;">import</span> Flask

<span style="color: #83a598;">app</span> = Flask<span style="color: #fe8019;">(</span><span style="color: #fe8019;">__name__</span><span style="color: #fe8019;">)</span>

<span style="color: #fabd2f;">@app.route</span><span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"/&lt;name&gt;"</span><span style="color: #fe8019;">)</span>
<span style="color: #fb4934;">def</span> <span style="color: #b8bb26;">user</span><span style="color: #fe8019;">(</span>name<span style="color: #fe8019;">)</span>:
    <span style="color: #fb4934;">return</span> f<span style="color: #b8bb26;">"Labas, </span>{name}<span style="color: #b8bb26;">"</span>

<span style="color: #fb4934;">if</span> <span style="color: #fe8019;">__name__</span> == <span style="color: #b8bb26;">"__main__"</span>:
    app.run<span style="color: #fe8019;">()</span>
</pre>
</div>
</div>
</div>

<div id="outline-container-org5d71bf3" class="outline-3">
<h3 id="org5d71bf3"><span class="section-number-3">1.3.</span> Kaip sukurti ir panaudoti HTML šabloną:</h3>
<div class="outline-text-3" id="text-1-3">
<p>
main.py faile:
</p>

<div class="org-src-container">
<pre class="src src-python"><span style="color: #fb4934;">from</span> flask <span style="color: #fb4934;">import</span> Flask, render_template  <span style="color: #928374;"># </span><span style="color: #928374;">dont forget to import "rednder_template"</span>

<span style="color: #83a598;">app</span> = Flask<span style="color: #fe8019;">(</span><span style="color: #fe8019;">__name__</span><span style="color: #fe8019;">)</span>

<span style="color: #fabd2f;">@app.route</span><span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"/"</span><span style="color: #fe8019;">)</span>
<span style="color: #fb4934;">def</span> <span style="color: #b8bb26;">user</span><span style="color: #fe8019;">()</span>:
    <span style="color: #fb4934;">return</span> render_template<span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"index.html"</span><span style="color: #fe8019;">)</span>

<span style="color: #fb4934;">if</span> <span style="color: #fe8019;">__name__</span> == <span style="color: #b8bb26;">"__main__"</span>:
    app.run<span style="color: #fe8019;">()</span>
</pre>
</div>

<p>
templates/index.html faile:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
    &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">charset</span>=<span style="color: #b8bb26;">"UTF-8"</span>&gt;
    &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Mano Puslapis</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Labas, pasauli!</span>&lt;/<span style="color: #b8bb26;">h1</span>&gt;
&lt;/<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>

<p>
Įdėkime į šabloną šiek tiek logikos:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
    &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">charset</span>=<span style="color: #b8bb26;">"UTF-8"</span>&gt;
    &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Skai&#269;iavimai</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Skai&#269;iavimai: </span>&lt;/<span style="color: #b8bb26;">h1</span>&gt;
{<span style="color: #83a598;">%for</span> x in range(10)%}
{<span style="color: #83a598;">%if</span> x % 2 == 0 %}
&lt;<span style="color: #b8bb26;">p</span>&gt;{{x}}&lt;/<span style="color: #b8bb26;">p</span>&gt;
{% endif %}
{<span style="color: #83a598;">%endfor</span>%}
&lt;/<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>
</div>
</div>

<div id="outline-container-orgef6d303" class="outline-3">
<h3 id="orgef6d303"><span class="section-number-3">1.4.</span> Kaip kintamuosius perkelti į šabloną:</h3>
<div class="outline-text-3" id="text-1-4">
<p>
main.py faile:
</p>

<div class="org-src-container">
<pre class="src src-python"><span style="color: #fb4934;">from</span> flask <span style="color: #fb4934;">import</span> Flask, render_template

<span style="color: #83a598;">app</span> = Flask<span style="color: #fe8019;">(</span><span style="color: #fe8019;">__name__</span><span style="color: #fe8019;">)</span>

<span style="color: #fabd2f;">@app.route</span><span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"/"</span><span style="color: #fe8019;">)</span>
<span style="color: #fb4934;">def</span> <span style="color: #b8bb26;">home</span><span style="color: #fe8019;">()</span>:
    <span style="color: #83a598;">vardai</span> = <span style="color: #fe8019;">[</span><span style="color: #b8bb26;">'Jonas'</span>, <span style="color: #b8bb26;">'Antanas'</span>, <span style="color: #b8bb26;">'Petras'</span><span style="color: #fe8019;">]</span>
    <span style="color: #fb4934;">return</span> render_template<span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"index.html"</span>, sarasas=vardai<span style="color: #fe8019;">)</span>  <span style="color: #928374;"># </span><span style="color: #928374;">passing sarasas into</span>

<span style="color: #fb4934;">if</span> <span style="color: #fe8019;">__name__</span> == <span style="color: #b8bb26;">"__main__"</span>:
    app.run<span style="color: #fe8019;">()</span>
</pre>
</div>

<p>
templates/index.html faile:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
    &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">charset</span>=<span style="color: #b8bb26;">"UTF-8"</span>&gt;
    &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Sara&#353;as</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">&#381;moni&#371; sara&#353;as: </span>&lt;/<span style="color: #b8bb26;">h1</span>&gt;
{<span style="color: #83a598;">%for</span> vardas in sarasas%} <span style="color: #928374;">&lt;!-- </span><span style="color: #928374;">reusing sarasas from main.py</span><span style="color: #928374;"> --&gt;</span>
&lt;<span style="color: #b8bb26;">p</span>&gt;{{vardas}}&lt;/<span style="color: #b8bb26;">p</span>&gt;
{% endfor %}
&lt;/<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>
</div>
</div>

<div id="outline-container-org442d920" class="outline-3">
<h3 id="org442d920"><span class="section-number-3">1.5.</span> Kaip perduoti duomenis iš svetainės į programą:</h3>
<div class="outline-text-3" id="text-1-5">
<p>
app.py faile:
</p>

<div class="org-src-container">
<pre class="src src-python"><span style="color: #fb4934;">from</span> flask <span style="color: #fb4934;">import</span> Flask, request, render_template
<span style="color: #83a598;">app</span> = Flask<span style="color: #fe8019;">(</span><span style="color: #fe8019;">__name__</span><span style="color: #fe8019;">)</span>

<span style="color: #fabd2f;">@app.route</span><span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"/login"</span>, methods=<span style="color: #cc241d;">[</span><span style="color: #b8bb26;">'GET'</span>, <span style="color: #b8bb26;">'POST'</span><span style="color: #cc241d;">]</span><span style="color: #fe8019;">)</span>
<span style="color: #fb4934;">def</span> <span style="color: #b8bb26;">login</span><span style="color: #fe8019;">()</span>:
    <span style="color: #fb4934;">if</span> request.method == <span style="color: #b8bb26;">"POST"</span>:  <span style="color: #928374;"># </span><span style="color: #928374;">if post request(post request from form)</span>
        vardas = request.form<span style="color: #fe8019;">[</span><span style="color: #b8bb26;">'name_ane'</span><span style="color: #fe8019;">]</span>  <span style="color: #928374;"># </span><span style="color: #928374;">take the value from name_ane and put it in "vardas" variable</span>
        <span style="color: #fb4934;">return</span> render_template<span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"greetings.html"</span>, vardas=vardas<span style="color: #fe8019;">)</span>  <span style="color: #928374;"># </span><span style="color: #928374;">render greetings template where vardas variable bus paduotas kaip vardas</span>
    <span style="color: #fb4934;">else</span>:
        <span style="color: #fb4934;">return</span> render_template<span style="color: #fe8019;">(</span><span style="color: #b8bb26;">"login.html"</span><span style="color: #fe8019;">)</span>


<span style="color: #fb4934;">if</span> <span style="color: #fe8019;">__name__</span> == <span style="color: #b8bb26;">"__main__"</span>:
    app.run<span style="color: #fe8019;">()</span>
</pre>
</div>

<p>
templates/login.html faile:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
    &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">charset</span>=<span style="color: #b8bb26;">"UTF-8"</span>&gt;
    &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Prisijungimas</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;<span style="color: #b8bb26;">form</span> <span style="color: #83a598;">action</span>=<span style="color: #b8bb26;">"#"</span> <span style="color: #83a598;">method</span>=<span style="color: #b8bb26;">"post"</span>&gt; <span style="color: #928374;">&lt;!-- </span><span style="color: #928374;">post metodas, okei</span><span style="color: #928374;"> --&gt;</span>
    &lt;<span style="color: #b8bb26;">p</span>&gt;Vardas:&lt;/<span style="color: #b8bb26;">p</span>&gt;
    &lt;<span style="color: #b8bb26;">p</span>&gt;&lt;<span style="color: #b8bb26;">input</span> <span style="color: #83a598;">type</span>=<span style="color: #b8bb26;">"text"</span> <span style="color: #83a598;">name</span>=<span style="color: #b8bb26;">"name_ane"</span>/&gt;&lt;/<span style="color: #b8bb26;">p</span>&gt; <span style="color: #928374;">&lt;!-- </span><span style="color: #928374;">name_ane</span><span style="color: #928374;"> --&gt;</span>
    &lt;<span style="color: #b8bb26;">p</span>&gt;&lt;<span style="color: #b8bb26;">input</span> <span style="color: #83a598;">type</span>=<span style="color: #b8bb26;">"submit"</span> <span style="color: #83a598;">value</span>=<span style="color: #b8bb26;">"submit"</span>/&gt;&lt;/<span style="color: #b8bb26;">p</span>&gt; <span style="color: #928374;">&lt;!-- </span><span style="color: #928374;">upon submit renderinam greetings.html</span><span style="color: #928374;"> --&gt;</span>
&lt;/<span style="color: #b8bb26;">form</span>&gt;
&lt;/<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>

<p>
templates/greetings.html faile:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
    &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">charset</span>=<span style="color: #b8bb26;">"UTF-8"</span>&gt;
    &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Sveikiname</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">{{vardas}}, sveikiname prisijungus!</span>&lt;/<span style="color: #b8bb26;">h1</span>&gt; <span style="color: #928374;">&lt;!-- </span><span style="color: #928374;">vardas=vardas, del to ir galim pasiekti</span><span style="color: #928374;"> --&gt;</span>
&lt;/<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>
</div>
</div>

<div id="outline-container-org22822e8" class="outline-3">
<h3 id="org22822e8"><span class="section-number-3">1.6.</span> Naudojame base.html šabloną:</h3>
<div class="outline-text-3" id="text-1-6">
<p>
Failas templates/base.html:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
  &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Mano puslapis</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;<span style="color: #b8bb26;">div</span>&gt;
  &lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Sveiki,</span>&lt;/<span style="color: #b8bb26;">h1</span>&gt;
  &lt;<span style="color: #b8bb26;">p</span>&gt;&#268;ia yra mano super puslapis!&lt;/<span style="color: #b8bb26;">p</span>&gt;
&lt;/<span style="color: #b8bb26;">div</span>&gt;
&lt;<span style="color: #b8bb26;">div</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"container"</span>&gt;
  {% block content %}{% endblock %}
&lt;/<span style="color: #b8bb26;">div</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>

<p>
Failas templates/login.html:
</p>

<div class="org-src-container">
<pre class="src src-html">{% extends "base.html" %}
{% block content %}
&lt;<span style="color: #b8bb26;">form</span> <span style="color: #83a598;">action</span>=<span style="color: #b8bb26;">"#"</span> <span style="color: #83a598;">method</span>=<span style="color: #b8bb26;">"post"</span>&gt;
    &lt;<span style="color: #b8bb26;">p</span>&gt;Vardas:&lt;/<span style="color: #b8bb26;">p</span>&gt;
    &lt;<span style="color: #b8bb26;">p</span>&gt;&lt;<span style="color: #b8bb26;">input</span> <span style="color: #83a598;">type</span>=<span style="color: #b8bb26;">"text"</span> <span style="color: #83a598;">name</span>=<span style="color: #b8bb26;">"vardas"</span>/&gt;&lt;/<span style="color: #b8bb26;">p</span>&gt;
    &lt;<span style="color: #b8bb26;">p</span>&gt;&lt;<span style="color: #b8bb26;">input</span> <span style="color: #83a598;">type</span>=<span style="color: #b8bb26;">"submit"</span> <span style="color: #83a598;">value</span>=<span style="color: #b8bb26;">"submit"</span>/&gt;&lt;/<span style="color: #b8bb26;">p</span>&gt;
&lt;/<span style="color: #b8bb26;">form</span>&gt;
{% endblock %}
</pre>
</div>

<p>
Failas templates/greetings.html:
</p>

<div class="org-src-container">
<pre class="src src-html">{% extends "base.html" %}
{% block content %}
&lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">{{vardas}}, sveikiname prisijungus!</span>&lt;/<span style="color: #b8bb26;">h1</span>&gt;
{% endblock %}
</pre>
</div>
</div>
</div>

<div id="outline-container-org7124c5e" class="outline-3">
<h3 id="org7124c5e"><span class="section-number-3">1.7.</span> Stiliui panaudojame "Bootstrap":</h3>
<div class="outline-text-3" id="text-1-7">
<p>
Faile base.html:
</p>

<div class="org-src-container">
<pre class="src src-html">&lt;<span style="color: #fb4934;">!DOCTYPE</span> html&gt;
&lt;<span style="color: #b8bb26;">html</span> <span style="color: #83a598;">lang</span>=<span style="color: #b8bb26;">"en"</span>&gt;
&lt;<span style="color: #b8bb26;">head</span>&gt;
  &lt;<span style="color: #b8bb26;">title</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Mano puslapis</span>&lt;/<span style="color: #b8bb26;">title</span>&gt;
  &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">charset</span>=<span style="color: #b8bb26;">"utf-8"</span>&gt;
  &lt;<span style="color: #b8bb26;">meta</span> <span style="color: #83a598;">name</span>=<span style="color: #b8bb26;">"viewport"</span> <span style="color: #83a598;">content</span>=<span style="color: #b8bb26;">"width=device-width, initial-scale=1"</span>&gt;
  &lt;<span style="color: #b8bb26;">link</span> <span style="color: #83a598;">rel</span>=<span style="color: #b8bb26;">"stylesheet"</span> <span style="color: #83a598;">href</span>=<span style="color: #b8bb26;">"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"</span>&gt;
  &lt;<span style="color: #b8bb26;">script</span> <span style="color: #83a598;">src</span>=<span style="color: #b8bb26;">"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"</span>&gt;&lt;/<span style="color: #b8bb26;">script</span>&gt;
  &lt;<span style="color: #b8bb26;">script</span> <span style="color: #83a598;">src</span>=<span style="color: #b8bb26;">"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"</span>&gt;&lt;/<span style="color: #b8bb26;">script</span>&gt;
  &lt;<span style="color: #b8bb26;">script</span> <span style="color: #83a598;">src</span>=<span style="color: #b8bb26;">"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"</span>&gt;&lt;/<span style="color: #b8bb26;">script</span>&gt;
&lt;/<span style="color: #b8bb26;">head</span>&gt;
&lt;<span style="color: #b8bb26;">body</span>&gt;

<span style="color: #928374;">&lt;!-- </span><span style="color: #928374;">Navigation</span><span style="color: #928374;"> --&gt;</span>
&lt;<span style="color: #b8bb26;">nav</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow"</span>&gt;
  &lt;<span style="color: #b8bb26;">div</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"container"</span>&gt;
    &lt;<span style="color: #b8bb26;">a</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"navbar-brand"</span> <span style="color: #83a598;">href</span>=<span style="color: #b8bb26;">"#"</span>&gt;
    Mano puslapis&lt;/<span style="color: #b8bb26;">a</span>&gt;
    &lt;<span style="color: #b8bb26;">button</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"navbar-toggler"</span> <span style="color: #83a598;">type</span>=<span style="color: #b8bb26;">"button"</span> <span style="color: #83a598;">data-toggle</span>=<span style="color: #b8bb26;">"collapse"</span> <span style="color: #83a598;">data-target</span>=<span style="color: #b8bb26;">"#navbarResponsive"</span> <span style="color: #83a598;">aria-controls</span>=<span style="color: #b8bb26;">"navbarResponsive"</span> <span style="color: #83a598;">aria-expanded</span>=<span style="color: #b8bb26;">"false"</span> <span style="color: #83a598;">aria-label</span>=<span style="color: #b8bb26;">"Toggle navigation"</span>&gt;
          &lt;<span style="color: #b8bb26;">span</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"navbar-toggler-icon"</span>&gt;&lt;/<span style="color: #b8bb26;">span</span>&gt;
        &lt;/<span style="color: #b8bb26;">button</span>&gt;
    &lt;<span style="color: #b8bb26;">div</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"collapse navbar-collapse"</span> <span style="color: #83a598;">id</span>=<span style="color: #b8bb26;">"navbarResponsive"</span>&gt;
      &lt;<span style="color: #b8bb26;">ul</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"navbar-nav ml-auto"</span>&gt;
        &lt;<span style="color: #b8bb26;">li</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"nav-item"</span>&gt;
          &lt;<span style="color: #b8bb26;">a</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"nav-link"</span> <span style="color: #83a598;">href</span>=<span style="color: #b8bb26;">"/login"</span>&gt;Prisijungti&lt;/<span style="color: #b8bb26;">a</span>&gt;
        &lt;/<span style="color: #b8bb26;">li</span>&gt;
      &lt;/<span style="color: #b8bb26;">ul</span>&gt;
    &lt;/<span style="color: #b8bb26;">div</span>&gt;
  &lt;/<span style="color: #b8bb26;">div</span>&gt;
&lt;/<span style="color: #b8bb26;">nav</span>&gt;

&lt;<span style="color: #b8bb26;">div</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"jumbotron text-center"</span>&gt;
  &lt;<span style="color: #b8bb26;">h1</span>&gt;<span style="font-weight: bold; text-decoration: underline;">Sveiki,</span>&lt;/<span style="color: #b8bb26;">h1</span>&gt;
  &lt;<span style="color: #b8bb26;">p</span>&gt;&#268;ia yra mano super puslapis!&lt;/<span style="color: #b8bb26;">p</span>&gt;
&lt;/<span style="color: #b8bb26;">div</span>&gt;

&lt;<span style="color: #b8bb26;">div</span> <span style="color: #83a598;">class</span>=<span style="color: #b8bb26;">"container"</span>&gt;
{% block content %}{% endblock %}
&lt;/<span style="color: #b8bb26;">div</span>&gt;

&lt;/<span style="color: #b8bb26;">body</span>&gt;
&lt;/<span style="color: #b8bb26;">html</span>&gt;
</pre>
</div>


<p>
<b>Final result</b> - <a href="https://github.com/arvydasg/Flask-CodeAcademy/tree/master/2023-01-24%20get_post">link to github</a>
</p>


<figure id="orgb068ed2">
<img src="./static/images/2023-01-24_1.png" alt="2023-01-24_1.png" width="1200px">

</figure>


<figure id="org90e8b0f">
<img src="./static/images/2023-01-24_2.png" alt="2023-01-24_2.png" width="1200px">

</figure>
</div>
</div>

<div id="outline-container-orgf84ad98" class="outline-3">
<h3 id="orgf84ad98"><span class="section-number-3">1.8.</span> Uzduotys</h3>
<div class="outline-text-3" id="text-1-8">
</div>
<div id="outline-container-orgbdc11a9" class="outline-4">
<h4 id="orgbdc11a9"><span class="section-number-4">1.8.1.</span> 1 užduotis</h4>
<div class="outline-text-4" id="text-1-8-1">
<p>
<a href="https://github.com/arvydasg/Flask-CodeAcademy/tree/master/2023-01-24_izanga_i_flask/1_uzduotis">Link to github</a>
</p>

<p>
Sukurti programą, kuri turėtų statinį puslapį, pvz. localhost:5000 su
norimu tekstu (rekomenduojama naudoti šablonus)
</p>


<figure id="org9d535ce">
<img src="./static/images/2023-01-24_3.png" alt="2023-01-24_3.png" width="1200px">

</figure>
</div>
</div>

<div id="outline-container-org80adaef" class="outline-4">
<h4 id="org80adaef"><span class="section-number-4">1.8.2.</span> 2 užduotis</h4>
<div class="outline-text-4" id="text-1-8-2">
<p>
<a href="https://github.com/arvydasg/Flask-CodeAcademy/tree/master/2023-01-24_izanga_i_flask/2_uzduotis">Link to github</a>
</p>

<p>
Sukurti programą, kuri įvedus norimą žodį adreso eilutėje (po /
simbolio) ir paspaudus ENTER, atspausdintų jį penkis kartus.
p
</p>

<figure id="orgfd43717">
<img src="./static/images/2023-01-24_4.png" alt="2023-01-24_4.png" width="1200px">

</figure>
</div>
</div>

<div id="outline-container-orgf96a216" class="outline-4">
<h4 id="orgf96a216"><span class="section-number-4">1.8.3.</span> 3 užduotis</h4>
<div class="outline-text-4" id="text-1-8-3">
<p>
<a href="https://github.com/arvydasg/Flask-CodeAcademy/tree/master/2023-01-24_izanga_i_flask/3_uzduotis">Link to github</a>
</p>

<p>
Sukurti programą, kuri puslapyje localhost:5000/keliamieji parodytų
visus keliamuosius metus nuo 1900 iki 2100 metų.
</p>


<figure id="orgbf172f2">
<img src="./static/images/2023-01-24_5.png" alt="2023-01-24_5.png" width="1200px">

</figure>
</div>
</div>

<div id="outline-container-orga45d98c" class="outline-4">
<h4 id="orga45d98c"><span class="section-number-4">1.8.4.</span> 4 užduotis</h4>
<div class="outline-text-4" id="text-1-8-4">
<p>
<a href="https://github.com/arvydasg/Flask-CodeAcademy/tree/master/2023-01-24_izanga_i_flask/4_uzduotis">Link to github</a>
</p>

<p>
Sukurti programą, kuri leistų įvesti metus ir paspaudus patvirtinimo
mygtuką parodytų, ar jie yra keliamieji.
</p>


<figure id="org94c20a7">
<img src="./static/images/2023-01-24_6.png" alt="2023-01-24_6.png" width="1200px">

</figure>
</div>
</div>

<div id="outline-container-org08b55d8" class="outline-4">
<h4 id="org08b55d8"><span class="section-number-4">1.8.5.</span> 5 užduotis (papildomai)</h4>
<div class="outline-text-4" id="text-1-8-5">
<p>
<a href="https://github.com/arvydasg/Flask-CodeAcademy/tree/master/2023-01-24_izanga_i_flask/5_uzduotis">Link to github</a>
</p>

<p>
Patobulinti anksčiau kurtą biudžeto programą, panaudojant Flask
(bendravimui su vartotoju) ir SQLAlchemy (darbui su duomenų baze,
kurioje bus saugomi pajamų ir išlaidų įrašai).
</p>


<figure id="org93ce332">
<img src="./static/images/2023-01-24_7.png" alt="2023-01-24_7.png" width="1200px">

</figure>
</div>
</div>
</div>
</div>
<div class="taglist"></div></div>
<div id="postamble" class="status"><div id="archive">
  <a href="./archive.html">Other posts</a>
</div></div>
</body>
</html>
